.section-padding {
  padding: 6rem 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.mb-medium {
  margin-bottom: 5rem !important;
}

.mb-large {
  margin-bottom: 8rem !important;
}

.relative {
  position: relative;
}