$bg-light: #181a2af5;
$bg-dark: #161625;
$card-bg-color: #1b1a2af5;

$pink: #dc4f72;
$light-pink: #dc8592;
$dark-pink: #742933;

$border-color: rgba(53, 53, 82, 0.8);
$border-color-light: #c5c5c5;

$white: #fff;
$black: #000;

$text-grey: #c2c2bf;

$card-hover-box-shadow: 0 0.8rem 1.6rem #020204;
$default-font-size: 1.7rem;
$border-radius: 6px;
$transition-time: .3s;